body {
  font-family: "Arial", sans-serif;
  background-color: #F5F5F5;
  color: #333;
}
body .wrapper {
  grid-template-rows: auto auto 100px;
  grid-template-areas: "head" "main" "foot";
  display: grid;
}
body header {
  text-align: center;
  grid-area: head;
  background-color: #4CAF50;
  height: 100%;
  color: white;
}
body header h1 {
  display: none;
}
body header nav {
  height: 100%;
}
body header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body header nav ul li a {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
body main {
  grid-area: main;
}

/*singler webbsites*/
#index .wrapper main {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}
#index .wrapper main h2 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}
#index .wrapper main p {
  color: #555;
  font-size: 1.2em;
  margin-bottom: 20px;
}
#index .wrapper main img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#index .wrapper main a {
  display: flex;
  align-items: left;
  justify-content: center;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
#index .wrapper main a:hover {
  background-color: #3d8b40;
}

#blogg .wrapper main div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
#blogg .wrapper main div article {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 20px 0;
  padding: 20px;
}
#blogg .wrapper main div article h2 {
  color: #4CAF50;
  margin-bottom: 10px;
}
#blogg .wrapper main div article figure {
  margin: 0;
}
#blogg .wrapper main div article figure img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
#blogg .wrapper main div article figure figcaption {
  color: #333;
  font-style: italic;
}
#blogg .wrapper main div article p {
  color: #ccc;
  margin-bottom: 15px;
}
#blogg .wrapper main a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
#blogg .wrapper main a:hover {
  background-color: #3d8b40;
}

#createAcc .wrapper main {
  text-align: center;
}
#createAcc .wrapper main section {
  margin-bottom: 10px;
}
#createAcc .wrapper main section form {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  display: grid;
  margin-top: 20px;
}
#createAcc .wrapper main section form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
#createAcc .wrapper main section form input {
  width: auto;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#createAcc .wrapper main section form button {
  background: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}
#createAcc .wrapper main section form button:hover {
  background: #3d8b40;
}

#login .wrapper main {
  text-align: center;
}
#login .wrapper main section {
  margin-bottom: 10px;
}
#login .wrapper main section form {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  display: grid;
}
#login .wrapper main a {
  color: #ff5722;
  text-decoration: none;
}

#uploadBlog .wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#uploadBlog .wrapper form label {
  margin-top: 10px;
  font-weight: bold;
}
#uploadBlog .wrapper form input,
#uploadBlog .wrapper form select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#uploadBlog .wrapper form .file {
  margin-top: 10px;
}
#uploadBlog .wrapper form button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#uploadBlog .wrapper form button:hover {
  background-color: #3d8b40;
}

#uploadProduct .wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#uploadProduct .wrapper form label {
  margin-top: 10px;
  font-weight: bold;
}
#uploadProduct .wrapper form input,
#uploadProduct .wrapper form select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#uploadProduct .wrapper form .file {
  margin-top: 10px;
}
#uploadProduct .wrapper form button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#uploadProduct .wrapper form button:hover {
  background-color: #3d8b40;
}

#updateProduct .wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#updateProduct .wrapper form label {
  margin-top: 10px;
  font-weight: bold;
}
#updateProduct .wrapper form input,
#updateProduct .wrapper form select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#updateProduct .wrapper form .file {
  margin-top: 10px;
}
#updateProduct .wrapper form button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#updateProduct .wrapper form button:hover {
  background-color: #3d8b40;
}

#removeProduct .wrapper main div {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 10px;
}
#removeProduct .wrapper main div button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: 1em;
}
#removeProduct .wrapper main div button:hover {
  background-color: #4CAF50;
}
#removeProduct .wrapper main div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
#removeProduct .wrapper main div article {
  border: 1px solid black;
  margin: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
#removeProduct .wrapper main div article:hover {
  transform: scale(1.05);
}
#removeProduct .wrapper main div article figure {
  margin-bottom: 15px;
}
#removeProduct .wrapper main div article figure img {
  width: 100%;
  max-height: 200px;
  height: auto;
}
#removeProduct .wrapper main div article h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
#removeProduct .wrapper main div article p {
  margin-bottom: 10px;
}
#removeProduct .wrapper main div article button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
}
#removeProduct .wrapper main div article button:hover {
  background-color: #45a049;
}
#removeProduct .wrapper main div a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
#removeProduct .wrapper main div a:hover {
  background-color: #3d8b40;
}

#product .wrapper main div {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 10px;
}
#product .wrapper main div button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 30%;
  font-size: 1em;
}
#product .wrapper main div button:hover {
  background-color: #4CAF50;
}
#product .wrapper main div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
#product .wrapper main div article {
  border: 1px solid black;
  margin: 10px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
#product .wrapper main div article:hover {
  transform: scale(1.05);
}
#product .wrapper main div article figure {
  margin-bottom: 15px;
}
#product .wrapper main div article figure img {
  width: 100%;
  max-height: 200px;
  height: auto;
}
#product .wrapper main div article h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
#product .wrapper main div article p {
  margin-bottom: 10px;
}
#product .wrapper main div article button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1em;
}
#product .wrapper main div article button:hover {
  background-color: #45a049;
}
#product .wrapper main div a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 25px;
  border-radius: 25px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}
#product .wrapper main div a:hover {
  background-color: #3d8b40;
}

#controller .wrapper main a {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  margin: 15px;
  border-radius: 8px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}
#controller .wrapper main a:hover {
  background-color: gainsboro;
}

/*Dator*/
@media only screen and (min-width: 1080px) {
  body {
    font-family: "Arial", sans-serif;
    background-color: #F5F5F5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  body .wrapper {
    width: 100%;
    margin: 0 auto;
  }
  body .wrapper header {
    text-align: right;
    background-color: #4CAF50;
    height: 80px;
    color: white;
    padding: 20px;
  }
  body .wrapper header nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    height: 100px; /* Set the desired height */
  }
  body .wrapper header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  body .wrapper header nav ul li {
    margin-right: 70px;
  }
  body .wrapper header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  body .wrapper header nav ul li a:hover {
    text-decoration: underline;
  }
  /*singler webbsites*/
  #login .wrapper form {
    margin-top: 20px;
  }
  #login .wrapper form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  #login .wrapper form input {
    width: auto;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #login .wrapper form button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  #login .wrapper form button:hover {
    background: #3d8b40;
  }
  #login .wrapper main a {
    color: #ff5722;
    text-decoration: none;
  }
  #login .wrapper main a:hover {
    text-decoration: underline;
  }
  #uploadProduct .wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #uploadProduct .wrapper form label {
    margin-top: 10px;
    font-weight: bold;
  }
  #uploadProduct .wrapper form input,
  #uploadProduct .wrapper form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #uploadProduct .wrapper form .file {
    margin-top: 10px;
  }
  #uploadProduct .wrapper form button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #uploadProduct .wrapper form button:hover {
    background-color: #3d8b40;
  }
  #controller .wrapper main a {
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    margin: 15px;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  #controller .wrapper main a:hover {
    background-color: gainsboro;
  }
}/*# sourceMappingURL=style.css.map */